
    <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class="container-fluid">
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']">AppTemplate</a>
            </div>
        
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="glyphicon glyphicon-user"></b> User</a>
                                <ul class="dropdown-menu">
                                    <li [routerLinkActive]="['link-active']"><a [routerLink]="['/users']"> <b class="glyphicon glyphicon-list-alt"></b> List</a></li>
                                    <li [routerLinkActive]="['link-active']"><a [routerLink]="['/users/new']"> <b class="glyphicon glyphicon-plus"></b> New</a></li>
                                    
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li>
                               <a href="#">Other</a>
                            </li>
                        </ul>
                    </li>
                    
              
                
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [routerLink]="['/user/login']"> <b class="glyphicon glyphicon-user"></b>  Login</a>
                    </li>
                    
                </ul>
            </div>
           
        </div>
    </div>
