
    <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class="container-fluid">
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']">AppTemplate</a>
            </div>
        
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li>

                     
                   <li >
                       <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Users<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/users']">
                                    <span class='glyphicon glyphicon-th-list'></span> User List
                                </a>
                            </li>
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/users/new']">
                                    <span class='glyphicon glyphicon-plus'></span> Add User
                                </a>
                            </li>
                       </ul>
                   </li>
                
                
                </ul>
                
            </div>
           
        </div>
    </div>
